.searchProdContainer{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productsPosted{
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
  padding: 10px;
}
.searchProdContainer .cardBox{
  margin: 10px auto;
}
.searchProdContainer .navigationProducts{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.searchProdContainer .navigationProducts div{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #f74a4a;
}
.searchProdContainer .navigationProducts .nowPage, .navigationProducts .afterPage{
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 1200px){
  .searchProdContainer .productsPosted{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px){
  .searchProdContainer .productsPosted{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px){
  .searchProdContainer .productsPosted{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px){
  .searchProdContainer .productsPosted{
    grid-template-columns: 1fr;
  }
}
