*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: 0.01s all;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

html, body, #root{
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e3e3e3;
  width: 100%;
  min-height: 100vh;
}

#msgErro{
  border: 2px dashed #53abf9be;
  background: #53abf9be;
  color: #333;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}

.msgErroActive{
  border: 2px dashed #fd3d3dbe !important;
  background: #f95353be !important;
}
